<div class="bg-light p-5 rounded-lg m-3">
    <h1 class="display-4">Bem-vindo ao Blog do Node</h1>
    <p class="lead">Este é um BLOG simples de sistema CRUD, desenvolvido com Node.js + Express + MongoDB + Passport</p>
    <hr class="my-4">
    <p>Faça seu login e comece agora mesmo a experiencia nesse template</p>
    <a class="btn btn-primary btn-lg" href="/usuarios/login" role="button">login</a>
</div>

<h2>postagens Recentes</h2>

{{#each postagens}}
<div class="card mt-4">
    <div class="card-body">
        <h3>{{titulo}}</h3>
        <p>{{descricao}}</p>
        <a href="/postagem/{{slug}}"><button class="btn btn-success">Leia mais</button></a>
        <hr>
        <small>Categoria: <strong>{{categoria.nome}}</strong></small><br>
        <small>Data de publicação: {{data}}</small>
    </div>
</div>
<br>

{{else}}
    <h5>Nenhuma postagem</h5>
{{/each}}